body {
    font-family: 'Metal Mania', cursive;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #007BA7;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}


.logo {
    position: absolute;
    left: 10px;
}

.logo img {
    height: 50px;
    width: auto;
}


.navbar {
    width: auto;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: transparent;
}

.navbar-nav .nav-link:hover {
    background-color: #333333;
    border-radius: 8px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    max-width: 100vw;
    box-sizing: border-box;
}

h1 {
    font-size: 6em;
    margin-bottom: 55px;
}

button {
    background-color: #023047;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 70px;
}

section {
    background-color: #005F73;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    margin-bottom: 20px;
    box-sizing: border-box;
    scroll-margin-top: 80px;
}

.Persos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.perso-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 30%;
    max-width: 30%;
}

.perso-item img {
    width: 100%;
    height: auto;
    border: 2px solid #000000;
    border-radius: 10px;
}

.perso-item p {
    background-color: #500909;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 5px 10px;
    color: #FFFFFF;
    font-size: 1em;
    margin-top: 10px;
    width: 100%;
}

form {
    background-color: #ffffff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px #000000;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
    color: #000000;
}

form label {
    display: block;
    margin-top: 1em;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="file"],
form input[type="submit"],
form select {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 4px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 1.5em;
}

form input[type="submit"]:hover {
    background-color: #530000;
}

form a {
    color: #333;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

form .termos {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

form .termos label {
    margin-left: 0.5em;
}

footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    max-width: 100vw;
    margin-top: auto;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.esquerda,
.direita {
    flex: 1;
    text-align: center;
}

.restricao {
    flex: 0 1 auto;
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.modal-open {
    overflow: hidden;
}

body.modal-open {
    padding-right: 0 !important;
}

.modal-content {
    color: #000000;
    background-color: #005F73;
}

.modal-header .modal-title,
.modal-body p {
    color: #000000;
}

@media (max-width: 768px) {
    header {
        padding: 10px 10px;
        height: 60px;
    }
    
    h1 {
        font-size: 5em;
    }

    .logo img {
        max-height: 40px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
        display: flex; 
    }

    .navbar-nav .nav-item {
        margin: 5px 0; 
    }

}

@media (max-width: 470px) {
    header {
        padding: 10px 5px;
        height: 50px;
    }
    
    h1 {
        font-size: 4em;
    }

    .logo img {
        max-height: 30px;
    }

    .navbar-nav .nav-link {
        font-size: 1em; 
        padding: 8px 15px; 
    }
    
    form .termos {
        font-size: 0.7em;
    }
}